.resume {
  @indent-size: 20px;
  @logo-height: 34px;

  .content {
    margin: 0 @indent-size * 4;
  }

  .indent-1 {
    margin-left: @indent-size;
  }

  .important-text {
    font-weight: 700;
  }

  .secondary-text {
    font-size: 12px;
  }

  .logo {
    height: @logo-height;
  }

  .school {
    ul {
      margin: 0;
    }

    .degrees {
      margin-bottom: @indent-size;

      .degree-icon {
        font-size: 14px;
      }

      .degree-field {
        .important-text();
      }
    }
  }

  .job {
    .mdl-grid {
      padding: 0;

      .duration {
        font-style: oblique;
      }
    }
  }
}