.resume {
  @heading-color: #FFD180;
  //@success-color: #4CAF50;
  @success-color: #8BC34A;
  @primary-text-color: #FAFAFA;

  background-color: #212121;
  color: @primary-text-color;

  .muted-text () {
    color: #BDBDBD;
  }

  .section-title {
    color: @heading-color;
  }

  .mdl-layout__header {
    background: transparent;
  }

  .secondary-text {
    .muted-text();
  }

  .job {
    .duration {
      .muted-text();

      .start {
        color: @success-color;
      }
    }
  }

  .school {
    .degree-icon {
      color: @success-color;
    }

    .degree-field {
      color: @success-color;
    }
  }
}