---
export interface Props {
    endDate: string;
    startDate: string;
}

const { endDate, startDate } = Astro.props;
const startYear = parseInt(startDate);
const endYear = parseInt(endDate) || "";
const colorClass = endYear ? "has-text-grey-light" : "has-text-success";
---

<div class={`is-daterange has-text-weight-bold is-size-5 ${colorClass}`}>
    {`${startYear}${endYear && " - "}${endYear}`}
</div>

<style>
    .is-daterange {
        margin-bottom: 0.2rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
</style>
