---
export interface Props {
    endDate: string;
    startDate: string;
}

const { endDate, startDate } = Astro.props;
const startYear = parseInt(startDate);
const endYear = parseInt(endDate) || "";
const colorClass = endYear ? "text-slate-500" : "text-emerald-500";
---

<div class={`font-bold text-xl ${colorClass}`}>
    {`${startYear}${endYear && ` - ${endYear}`}`}
</div>
